@import "../../style.scss";

.post {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 50px 70px;
    background-color: themed("bg");
    color: themed("textColor");
    border-radius: 10px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      left: 0%;
      width: 30%;
      height: 100%;
      position: relative;
      z-index: 1;

      span {
        color: themed("textColor");
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      width: 70%;
      height: 100%;
      position: relative;
      z-index: 1;
      color: themed("textColor");

      Link {
        text-decoration: none;
        color: themed("textColor");
      }

      .title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
        color: themed("textColor");
      }
      
      .description {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 10px;
        color: themed("textColor");

      }
    }

    .tags-list {
      display: flex;
      flex-direction: row;
      align-items: left;
      justify-content: left;
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 100%;
      height: 25px;
      z-index: 0;
      overflow-x: hidden;
      overflow-y: auto;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100%;
        background-color: themed("bgSoft");
        color: themed("textColor");
        margin: 0px 10px;
        border-radius: 5px;
      }
    }
  }
}
